

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333bb;
    width: 100%;
}


li {
    float: left;
    width: 22%;
}

.w-90 {
    width:90%;
}

img{
    max-width: 500px; min-height: 394px;
}


@media (max-width: 1600px){
        li{
            width: 30%;
        }
        img{
            min-width: 176px;
            max-height: 190px;
        }
    }
@media (max-width: 1250px){
        li{
            width: 55%;
    }
}

.card:hover{
   
      
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
      
    z-index: 10;
}


.rotateImg {
    transition: transform 1s;
    transform: rotateY(180deg);

}
.rotateImg2 {
    transition: transform 1s;
    transform: rotateY(0deg);

}

.card-body{
    background-color: #bbb;
}

.card {
    text-align: center;
    
    transform-style: preserve-3d;
    cursor: pointer;
}
  
.flip-box-front, .flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-box-front {
    
    color: black;
}
  
.flip-box-back {
    transform: rotateY(180deg);
    position: absolute;;
}
