
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          <span class="titulo">Ejercicios semanales</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  href="https://adrianruiz26.github.io/Publico_Final/ejercicios/primera_semana/primera_semana.html" target="_blank" >Primera Semana - 3 Imagenes Responsive</a>
            <a class="dropdown-item"  href="https://adrianruiz26.github.io/Publico_Final/ejercicios/segunda_semana/segunda_semana.html" target="_blank">Segunda Semana - Grid y Modo Noche</a>
            <a class="dropdown-item"  href="https://adrianruiz26.github.io/Publico_Final/ejercicios/tercera_semana_1/less.html" target="_blank">Tercera Semana 1 - LESS</a>
            <a class="dropdown-item"  href="https://adrianruiz26.github.io/Publico_Final/ejercicios/tercera_semana_2/bootstrap.html" target="_blank">Tercera Semana 2 - Bootstrap</a>
            <a class="dropdown-item"  href="https://adrianruiz26.github.io/Publico_Final/ejercicios/cuarta_semana/cuarta_semana.html" target="_blank">Cuarta Semana - Galeria con XML y FlexBox</a>
            <a class="dropdown-item"  href="https://adrianruiz26.github.io/Publico_Final/ejercicios/quinta_semana/quinta_semana.html" target="_blank">Quinta Semana - Multimedia, Canvas y SVG</a>
        </div>
      </li>

      <li class="nav-item">
        
        
      </li>
    </ul>
  </div>
</ul>
</nav>

    